:root {
  --bg: #1e1e2e;
  --fg: #cdd6f4;
}
body {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

section > header > img {
  width: 200px;
}

section > header {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0 0 50px 0;
}

#query {
  width: 500px;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #313244;
  color: var(--fg);
  border: 2px solid #45475a;
  border-radius: 7px;
  outline: none;
}
